includes:
    - vendor/tomasvotruba/bladestan/config/extension.neon
parameters:
    level: 9
    paths:
        - src
        - config
    ignoreErrors:
        - identifier: missingType.iterableValue
    bladestan:
        template_paths:
            - mailbook:resources/views
